<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='dist/output.css') }}">

    </head>
    <body>
        <header>
            {% block navbar %}
            <div class="top-0 left-0 w-screen flex flex-row bg-primary text-secondary shadow-lg">
                <a class="px-2" href="{{ url_for('index') }}">Gather</a>
                {% if current_user.is_anonymous %}
                <a class="px-2" href="{{ url_for('login') }}">Login</a>
                <a class="px-2" href="{{ url_for('register') }}">Register</a>
                {% else %}
                <a class="px-2" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                <a class="px-2" href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </div>
            {% endblock %}

            {% block message_content %}
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li class="text-green-900">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            {% endblock %}
        </header>
        <main>
            {% block main_content %}
            {% endblock %}
        </main>
        <!--script src="index.js"></script-->
    </body>
</html>