{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block navbar %}{{ super() }}{% endblock %}

{% block main_content %}
<div class="container">
    <div class="jumbotron">
        <h1><span class="text-info">૮₍˶Ó﹏Ò ⑅₎ა</span></h1>
        <p style="padding-top: 50px">You aren't... logged in??</p>
        <p style="padding-top: 50px">Head over to <a href="{{ url_for('register') }}">registration</a> to get signed up.</p>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>
{% endblock %}